/* instead of reset.css*/
*{
    margin: 0;
    padding: 0;
}


/* 3d scene */
.container{
    width: 100px;
    height: 100px;
    margin: 200px auto;
    -webkit-perspective: 1000px;
    /*border:1px solid #000;*/
}


.cube{
    width: 100px;
    height: 100px;
    -webkit-transform-style: preserve-3d;
}

/* sides of cube */
figure{ /* Как вариант можно div. Или нужно? */
    width: 96px;
    height: 96px;
    border: 2px solid black;
    text-align: center;
    line-height: 96px;
    position: absolute;
    opacity: 0.5;
    }
.front{
    -webkit-transform: rotateX( 0deg ) translateZ( 50px );
    background-color: lightgreen;
}
.back{
    -webkit-transform: rotateX( 180deg ) translateZ( 50px );
    background-color: lightblue;
}
.right{
    -webkit-transform: rotateY( 90deg ) translateZ( 50px );
    background-color: yellow;
}
.left{
    -webkit-transform: rotateY( -90deg ) translateZ( 50px );
    background-color: green;
}
.top{
    -webkit-transform: rotateX( 90deg ) translateZ( 50px );
    background-color: blue;
}
.bottom{
    -webkit-transform: rotateX( -90deg ) translateZ( 50px );
    background-color: darkmagenta;
}
/* end of sides*/


/*some ways of animation */
@-webkit-keyframes rotatedAround {
    from {
        -webkit-transform:  rotate(-0) translateX(-200px) rotate(0) rotateY(0);
    }
    to   {
        -webkit-transform:  rotate(-360deg) translateX(-200px) rotate(360deg) rotateY(360deg);
    }
}

@-webkit-keyframes rotatedEight {
    from {
        -webkit-transform:  rotateX(0) rotate(0) translateX(-400px) rotate(-0) ;
    }
    to   {
        -webkit-transform:  rotateX(360deg) rotate(360deg) translateX(-400px) rotate(-360deg) ;
    }
}
@-webkit-keyframes rotateDiagon {
    from{
        -webkit-transform: rotate3d(1,1,0,-0deg) translateX(-150px) rotate3d(1,1,0,0deg) rotate3d(1,1,1,0deg);
    }
    to{
        -webkit-transform: rotate3d(1,1,0,-360deg) translateX(-150px) rotate3d(1,1,0,360deg)rotate3d(1,1,1,360deg);
    }
}

/*end ways of animation */


/* animated classes */
.go-around{
    -webkit-animation: rotatedAround 4s infinite linear;
}
.go-eight{
    -webkit-animation: rotatedEight 8s infinite ease-in-out;
}

.go-diagon{
    -webkit-animation: rotateDiagon 4s infinite ease;
}
/* invisible backfaces for istance*/
.invis-back >*{
    -webkit-backface-visibility: hidden;
}